@import url("https://fonts.googleapis.com/css2?family=Montserrat:wght@400;500;600;700&display=swap");

* {
    font-family: "Montserrat", sans-serif;
}

body {
    background: #F7ECDE;
    overflow: hidden;
}

.navFlexBox {
    display: flex;
    flex-flow: row nowrap;
    width: 100%;
    height: 7%;
    margin-top: 20px;
    justify-content: flex-end;
}

.navBar a {
    margin-right: 40px;
    padding: 0px;
    font-size: 1.2em;
    color: #000000;
    font-weight: 500;
    text-decoration: none;
}

.navBar a:hover {
    color: #91E6EB;
}

.greetingFlexBox {
    display: flex;
    justify-content: center;
    height: 9vh;
    width: 100vw;
    margin-top: 200px;
}

.questionFlexBox {
    display: flex;
    justify-content: center;
    height: 9vh;
    width: 100vw;
    margin-top: 10%;
}

.codeFlexBox {
    display: flex;
    justify-content: center;
    height: 7.5vh;
    width: 100vw;
    overflow: hidden;
}

.codeFlexBox input {
    margin: 0px 5px 0px 5px;
    height: 40px;
    width: 30px;
    text-align: center;
    font-weight: 450;
    font-size: 1.1em;
    text-transform: capitalize;
    outline-width: 0;
    border: none;
    border-bottom: 1px solid #000000;
    background-color: #F7ECDE;
}

.submitFlexBox {
    display: flex;
    justify-content: center;
    height: 76.5vh;
    width: 100vw;
}

#submitButton {
    margin: 0px 5px 0px 5px;
    height: 40px;
    width: 230px;
    background-color: #FF613F;
    border-radius: 25px;
    border: none;
    opacity: 0;
    visibility: hidden;
}

#submitButton:hover {
    cursor: pointer;
}

#submitButton:active {
    background: #5E0C07;
    -webkit-box-shadow: inset 0px 0px 5px #C1C1C1;
    -moz-box-shadow: inset 0px 0px 5px #C1C1C1;
    box-shadow: inset 0px 0px 5px #C1C1C1;
    outline: none;
}

.radioToolbar {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;
}

.radioToolbar input[type='radio'] {
    opacity: 0;
    position: fixed;
    width: 0;
}

.radioToolbar label {
    display: flex;
    justify-content: center;
    background-color: #F2E3CB;
    margin: 2.2%;
    width: 12%;
    height: 75%;
    border-radius: 25%;
    box-shadow: 0 9px #999;
}

.radioToolbar label img {
    display: flex;
    justify-content: center;
    width: 95%;
    height: 65%;
    margin-left: 5%;
    margin-top: 20%;
}

.radioToolbar input[type='radio']:checked + label {
    background-color: #BFB099;
    box-shadow: 0 5px #666;
}

.submitAnswersFlexBox {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 100vw;
}

.submitAnswersFlexBox button {
    margin-top: 3%;
    margin-left: 2px;
    margin-right: 2px;
    height: 35%;
    width: 30%;
    background-color: #FF613F;
    border: none;
    outline: none;
}

.submitAnswersFlexBox button:active {
        background-color:#5E0C07;
        transform: translateY(4px);
}

.topPageSpacing {
    display: flex;
    justify-content: center;
    height: 30vh;
    width: 100vw;
}

.centeredPaging {
    display: flex;
    justify-content: center;
    height: 20vh;
    width: 100vw;
}

.leftPageSpacing {
        display: flex;
        justify-content: center;
        height: 100%;
        width: 44%;
}

.getLoginCode {
    display: flex;
    align-content: flex-start;
    flex-flow: wrap;
    height: 100%;
    width: 12%;
    background-color: #F5EEDA;
    padding: 10px 5px 10px 5px;
    border-style: solid;
    border-width: 1px;
    box-shadow: 3px 3px #3D3D3C;
}

.rightPageSpacing {
    display: flex;
    height: 100%;
    width: 44%;
}

#idPlaceholder {
    margin: 2.5px 0px 0px 0px;
    padding: 0px 0px 0px 15px;
    font-size: 0.8em;
    height: 13%;
    width: 100%;
    flex-basis: 100%;
}

#empIdInput {
    height: 17%;
    width: 100%;
    margin: 0px 5px 0px 5px;
    padding-top: 0px;
}

#submitEmployeeID {
    height: 20%;
    width: 90%;
    margin: 15px 5px 5px 9px;
    background-color: #FF613F;
}

#codeOutput {
    height: 18%;
    width: 90%;
    margin: 15px 5px 5px 9px;
    font-family: monospace;
}

.successImage {
    display: flex;
    justify-content: center;
    padding-right: 10px;
}

.thankYouText {
    display: flex;
    justify-content: center;
}

.submissionSentText {
    display: flex;
    justify-content: center;
}

.graphLabels {
    width: 100%;
    height: 20%;
    display: flex;
    justify-content: center;
    margin-top: 0%;
    padding: 0%;
}

.graphLabels p {
    width: 20%;
    padding-left: 90px;
    font-size: 0.1%;
    margin-left: 1%;
    margin-right: 0.5%;
    padding-bottom: 30px;
    padding-left: 0%;
    padding-right: 0%;
    overflow: hidden;
}

.graphContainer {
    width: 100%;
    height: 35%;
}

.graphContainer canvas {
    justify-content: center;
    flex-direction: row-reverse;
    float: right;
    height: 17%;
    width: 17%;
    margin: 21px;
    white-space: nowrap;
}

.overviewDesc {
    display: flex;
    width: 100%;
    height: 20%;
    justify-content: center;
}

.overviewDesc p {
    font-size: 30px;
    border-bottom: 1px solid #000000;
}

.chartLegend {
    justify-content: center;
    display: flex;
    width: 100%;
}

.chartLegend img {
    height: 30%;
    width: 20%;
}

.pageNavButtons {
    display: flex;
    justify-content: center;
    width: 100%;
    height: 70px;
}

.pageNavButtons button {
    margin: 1%;
    height: 50%;
    width: 6%;
    background-color: #F2E3CB;
    border-radius: 15%;
    box-shadow: 0 9px #999;
    border: none;
}

.pageNavButtons button:active {
    background-color: #BFB099;
    box-shadow: 0 5px #666;
}